
/*General*/
body{
    background-color: #25283d;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #c1ccdb;
    text-decoration: none;
}

h1{
    font-size: 4em;
    margin: 50px;
    color: #25283d;
    font-family: 'Philosopher', sans-serif;
}

p{
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
    color: #c1ccdb;
}

.nav{
    background-color: #25283d;
    padding: 50px 100px;
    word-spacing: 2em;
    text-align: left;
    font-size: 2em;
    border-bottom: 10px solid #ae3232;
    font-family: 'Raleway', sans-serif;
}

.headerblock{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: 60% 50%;
}

.selected{
    color: #ae3232;
}

.bottom{
    width: 100%;
    border-bottom: 25px solid #942424;
    height: 200px;
    background-color: #25283d;
}


/*Text Pages*/

.header, .mainb{
    background-color: #6c809a;
}

h2{
    font-size: 4em;
    margin: 50px;
    color:#9fadc0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.buttons{
    background-color: #49546c;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.block{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.textblock{
    background-color: #49546c;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding: 50px;
}

.selection{
    padding: 100px;
    font-family: 'Philosopher', sans-serif;
    
}

.sona{
    width: auto;
    height: 100%;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.maintext{
    grid-row: 1/4;
}

.socialtext{
    display: grid;
    grid-template-columns: 15% 85%;
}

.buttons a{
    background-color: #25283d;
    width: auto;
    margin: 50px;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    padding: 60px;
    color:#c1ccdb;
    text-align: center;
    display: inline-block;
}

.selection a{
    background-color: #7a1b30;
    font-size: 3em;
    padding: 40px;
    margin: 50px;
    
}

.logo{
    margin: 50px;
}

/*Image Pages*/

.imgblock{
    max-width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

.mainb img{
    
    height: 1000px;
    margin: 20px;
    
}
